root = true

[*]
ij_continuation_indent_size = 2
indent_size = tab
indent_style = space
tab_width = 2

[{*.neon, .gitmodules, Caddyfile, config, .gitconfig, ssh_config}]
indent_style = tab

[gradlew]
end_of_line = lf

[gradlew.bat]
end_of_line = crlf
